 html {
  box-sizing: border-box;
  color: #545149;
  background-color: #E3E3E3;
  font-size: 24px;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */


 main {
  background-color:#E3E3E3;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }