* {
  box-sizing: border-box;
}

.tweet-container {
  width: 90%;
}
.tweets {
  width: 100%;
  margin: 30px 0;
  border: 4px solid;
  padding: 3px 15px;
  transition: all 0.5s;
  border-radius: 30px;
}
.tweets header {
  display: flex;
  justify-content: space-between;
  margin-top:0;
}
.tweets header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweets header img {
  margin-right:5px;
}
.userid {
  color:grey;
}
.tweets footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5px
}
.tweets footer p {
  font-size: 15px;
}
.tweets .icons i {
  font-size: 20px;
}
.tweets section {
  text-align:start;
  border-bottom: 3px solid;
  padding: 10px;
}
.tweets section p {
  margin-bottom: 0;
  overflow-wrap: break-word;
}
.tweets:hover {
  box-shadow: 5px 5px grey;
  transition-delay: 1000
}
.tweets .userid {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.tweets:hover .userid {
  opacity: 1;
}
