* {
  box-sizing: border-box;
}

.tweet-container {
  width: 90%;
}
.tweets {
  width: 100%;
  margin: 30px 0;
  border: 4px solid;
  padding: 3px 15px;
  transition: all 0.5s;
  border-radius: 15px;
}
.tweets header {
  display: flex;
  justify-content: space-between;
  margin-top:0;
  /* height:70px */
}
.tweets header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweets header img {
  margin-right:5px;
}
.userid {
  color:grey;
}
.tweets footer {
  display: flex;
  justify-content: space-between;
  font-size:0.5em;
  padding: 0 1.5px
}
.tweets section {
  text-align:start;
  border-bottom: 3px solid;
  padding: 10px;
}
.tweets section p {
  margin-bottom: 0;
  overflow-wrap: break-word;
}

.userid {
  display: none;  
}

.tweets:hover {
  box-shadow: 10px 10px grey;
  transition-delay: 1000
}
.tweets:hover .userid {
  display: block;
  animation: fade-in 1s;
}

.tweets:not(:hover) {
  display: block;
  animation: fade-out 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
